@import 'quasar/src/css/index.sass';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #DDDDDD; /* Color de fondo deseado */
  }

global-card {
  background-image: url(../assets/texturafondo.png);
  background-size: cover;
}