@import 'quasar/src/css/index.sass';
@import 'quasar.variables';

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuentes y colores globales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #dddddd;
  color: #333;
}

/* Estilos para enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}