// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #111111;
$secondary : #ffffff;
$accent    : #ccff00;

$dark      : #DDDDDD;
$dark-page : #DDDDDD;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #ffffff;
$warning   : #f7b502;

:root {
    --primary-color: #{$primary};
    --secondary-color: #{$secondary};
    --text-color: #ffffff;
    --background-color: #dddddd;
    --font-family: 'Roboto', sans-serif;
  }
